.wrapper{
    display: flex;
    /* gap: 0.875em; */
    justify-content: center;
    margin: 4em 0;
}
.btn{
    padding: 0 8px;
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 4px;
    background-color: var(--first-color);
    margin: 0 0.875em;
}
.btn:hover{
    background-color: #fff;
}