.wrapper{
    width: 100%;
    height: 90vh;
    display: flex;
    background-color: #D4F1F4;
}
.container{
    background-color: #fff;
 border-radius: 10px;
 box-shadow: 0 7px 7px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
 position: relative;
 top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
 overflow: hidden;
 width: 70%;
 /* max-width: 100%; */
 /* min-height: 400px; */
 height: 80vh;
}
.signUpContainer{
    position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}
.signInContainer{
    position: absolute;
 top: 0;
 height: 100%;
 transition: all 0.6s ease-in-out;
 left: 0;
 width: 50%;
 z-index: 2;
}
form{
    background-color: #ffffff;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 padding: 0 50px;
 height: 100%;
 text-align: center;
}
.title{
    font-weight: bold;
    margin: 0;
}
.inputField{
    background-color: #eee;
 border: none;
 padding: 12px 15px;
 margin: 8px 0;
 width: 100%;
}
.button{
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #05445E;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
    
}
.button:hover{
    background: #D4F1F4;
    color: #05445E;
}
.button:active{
    transform: scale(0.95);
}
.button:focus{
    outline: none;
}
.ghostButton{
    border-radius: 20px;
    /* border: 1px solid #05445E; */
    background-color: #75E6DA;
    border-color: #75E6DA;
    color: #333;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
}
.ghostButton:hover{
    background: #05445E;
    color: #75E6DA; 
}
.link{
    color: #333;
 font-size: 14px;
 text-decoration: none;
 margin: 15px 0;
 text-decoration:underline;
}
.overlayContainer{
    position: absolute;
top: 0;
left: 50%;
width: 50%;
height: 100%;
overflow: hidden;
transition: transform 0.6s ease-in-out;
z-index: 100;
}
.overlay{
    background: #ff416c;
background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
background: linear-gradient(to bottom right, var(--first-color), #2367b9);
background-repeat: no-repeat;
background-size: cover;
background-position: 0 0;
color: #ffffff;
position: relative;
left: -100%;
height: 100%;
width: 200%;
transform: translateX(0);
transition: transform 0.6s ease-in-out;
}
.overlayPanel{
    position: absolute;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 0 40px;
     text-align: center;
     top: 0;
     height: 100%;
     width: 50%;
     transform: translateX(0);
     transition: transform 0.6s ease-in-out;
}
.leftOverlayPanel{
    position: absolute;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 0 40px;
     text-align: center;
     top: 0;
     height: 100%;
     width: 50%;
     transform: translateX(0);
     transition: transform 0.6s ease-in-out;
    transform: translateX(-20%);
}
.rightOverlayPanel{
    position: absolute;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 0 40px;
     text-align: center;
     top: 0;
     height: 100%;
     width: 50%;
     transform: translateX(0);
     transition: transform 0.6s ease-in-out;
    right: 0;
     transform: translateX(0);
}
.paragraph{
    font-size: 14px;
   font-weight: 100;
   line-height: 20px;
   letter-spacing: 0.5px;
   margin: 20px 0 30px
}
.googleBtn{
    background: none;
    outline: none;
    padding: 2px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.14s;
    cursor: pointer;
    /* border-radius: 100vmax; */
}
.googleBtn:hover{
    background: #333;
    color: #fff;
}