.wrapper{
    width: 100%;
    height: 97vh;
    display: flex;
    background-color: #2e2c2c;
}
.container{
    background-color: #000;
 border-radius: 10px;
 box-shadow: 0 7px 7px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
 position: relative;
 top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
 overflow: hidden;
 width: 75%;
 /* max-width: 100%; */
 /* min-height: 400px; */
 min-height: 80vh;
}
.signUpContainer{
    
    position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
  background-color: #000;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 padding: 0 50px;
 height: 100%;
 text-align: center;
}
.signInContainer{
    position: absolute;
 top: 0;
 height: 100%;
 transition: all 0.6s ease-in-out;
 left: 0;
 width: 50%;
 z-index: 2;
 background-color: #000;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 padding: 0 50px;
 height: 100%;
 text-align: center;
}
/* form{
background-color: #000;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 padding: 0 50px;
 height: 100%;
 text-align: center;
} */
.title{
    font-size: 2em;
    color: #fff;
    font-weight: bold;
    margin: 0;
}
.inputField{
    background-color: #2e2c2c;
 border: 10px;
 
 border-color: #eb7724;
 padding: 12px 15px;
 margin: 8px 0;
 width: 100%;
 border-radius: 4px;
 color: #eb7724;
}
.button{
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #eb7724;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
    
}
.button:hover{
    background: #ffffff;
    color: #eb7724;
}
.button:active{
    transform: scale(0.95);
}
.button:focus{
    outline: none;
}
.ghostButton{
    border-radius: 20px;
    /* border: 1px solid #05445E; */
    background-color: #000;
    border-color: #eb7724;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
}
.ghostButton:hover{
    background: #fff;
    color: #eb7724; 
}
.link{
    color: #eb7724;
 font-size: 14px;
 text-decoration: none;
 margin: 15px 0;
 text-decoration:underline;
 cursor: pointer;
}
.overlayContainer{
    position: absolute;
top: 0;
left: 50%;
width: 50%;
height: 100%;
overflow: hidden;
transition: transform 0.6s ease-in-out;
z-index: 5;
}
.overlay{
    background: #ff416c;
/* background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c); */
background: linear-gradient(to bottom right, var(--first-color), #d56d22);
background-repeat: no-repeat;
background-size: cover;
background-position: 0 0;
color: #ffffff;
position: relative;
left: -100%;
height: 100%;
width: 200%;
transform: translateX(0);
transition: transform 0.6s ease-in-out;
}
.overlayPanel{
    position: absolute;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 0 40px;
     text-align: center;
     top: 0;
     height: 100%;
     width: 50%;
     transform: translateX(0);
     transition: transform 0.6s ease-in-out;
}
.leftOverlayPanel{
    position: absolute;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 0 40px;
     text-align: center;
     top: 0;
     height: 100%;
     width: 50%;
     transform: translateX(0);
     transition: transform 0.6s ease-in-out;
    transform: translateX(-20%);
}
.rightOverlayPanel{
    
    position: absolute;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 0 40px;
     text-align: center;
     top: 0;
     height: 100%;
     width: 50%;
     transform: translateX(0);
     transition: transform 0.6s ease-in-out;
    right: 0;
     transform: translateX(0);
}
.paragraph{
    color: #fff;
    font-size: 14px;
   font-weight: 100;
   line-height: 20px;
   letter-spacing: 0.5px;
   margin: 20px 0 30px
}
.googleBtn{
    background: none;
    outline: none;
    padding: 2px 15px;
    display: flex;
    border-radius: 4px;
    align-items: center;
    justify-content: space-between;
    transition: 0.14s;
    cursor: pointer;
    margin: 0 auto;
    /* border-radius: 100vmax; */
}
.googleBtn:hover{
    background: #2e2c2c;
    color: #fff;
}
.googleBtn{
    background: #fff;
}


@media screen and (max-width: 850px) {
    .wrapper {
        height: auto;
        max-width: 550px;
        overflow: hidden;
      }
    
      .container {
        position: static;
        transform: none;
        width: revert;
        height: revert;
        padding: 2rem;
      }
    
      .formsWrap {
        position: revert;
        width: 100%;
        height: auto;
      }
    
      form {
        max-width: revert;
        /* padding: 1.5rem 2.5rem 2rem; */
        transition: transform 0.8s ease-in-out, opacity 0.45s linear;
      }
      form.signUpContainer {
        transform: translateX(100%);
      }
      
    
      main.sign-up-mode form.signInContainer {
        transform: translateX(100%);
      }
    
      main.sign-up-mode form.signUpContainer {
        transform: translateX(0%);
      }
}
@media screen and (max-width: 570px){
    .overlay{
        position: absolute;
        height: 30vh;
        bottom: 0;
        background: none;
        color: #333;
    }
    .signInContainer{
        width: 100%;
        position: absolute;
        right: -100%;
        z-index: 6;
        
    }
    .signUpContainer{
        width: 100%;
        position: absolute;
        left: -100%;
    }
    .ghostButton{
        visibility: visible;
    }
    .overlayContainer{
        width: 100%;
        left: 0%;
        height: 27%;
        top: 80%;
        margin-top: 1.85em;
        z-index: 10;
    }
    
    .leftOverlayPanel{
        display: none;
    }
    .container{
        height: 105vh;
       
    }
    

}