.wrapper{
    background-color: #2367b9;
    width: 100%;
    height: 100%;
    padding: 2em;
}
.formTitle{
    font-weight: 900;
    font-size: 24px;
}

.form{
    background-color:#fff;
    margin: 0 5em;
    padding: 3em 4em;
    border-radius: 8px;
    
}
.inputField{
    background-color: #eee;
 border: none;
 padding: 16px 15px;
 margin: 1em 0;
 width: 100%;
 border-radius: 4px;
}
.bio{
    background-color: #eee;
 border: none;
 padding: 12px 15px;
 margin: 8px 0;
 width: 100%;
 border-radius: 4px;
 font-family: sans-serif;
 resize: none;
}
.submitButton{
    background-color: #05445E;
    /* opacity: 0.7; */
    border: none;
    padding: 18px 34px;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
}
.submitButton:hover{
    background-color: #75E6DA;
    color: #333;
}