.profile{
    padding: 1.2rem 1rem;
    width: 20em;
    border-radius: 12px;
    background: #000;
    position: relative;
    border-width: 5px;
    border-style: solid;
    border-image: 
    linear-gradient(
      to bottom, 
      #eb7724, 
      rgba(100, 100, 100, 0)
    ) 0.5 10%;
    
}

.profileImg{
    height: 3.7em;
    border: 1.5px solid #fefefe;
    border-radius: 50%;
}
.profileHeader{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 1em;
}
.profileName{
    font-weight: bolder;
    color: aliceblue;
    font-size: var(--h3-font-size);
    
}
.profileInfo{
    margin-left: 1em;
    font-weight: 900;
}
.profileBio{
    color: var(--text-color-light);

    margin-bottom: 1rem;
    font-size: var(--small-font-size);
}
    
.profileSkills{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    gap: 10px;
}
#buttonSkills{
    background: #454545;
    outline: none;
    border: 1.5px solid var(--second-color);
    padding: 8px 12px;
    border-radius: 2em;
    color: #fff;
}

