.wrapper{
    /* padding: 1.8rem 4.7rem; */
    /* width: 93vw; */
    height: 100%;
    background: linear-gradient(to bottom, #ffffff 40%, #DEFCF9 100%);
    padding-bottom: 7rem;
    
}


.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 84vh;
    margin: 0 4.3rem;
    /* background: #333; */
    margin-bottom: 1em;
    font-family: var(--hero-font);
    background-color: #fff;
}
.heroPage{
    position: relative;
    
}
.header{
    font-size: 1.25em;
    line-height: 1.3;
    
}
.heroGIF{
    width: 50%;
}
.heroButton{
    background: none;
    outline: none;
    padding: 18px 34px;
    cursor: pointer;
    font-size: var(--small-font-size);
}
.heroButton:hover{
    background: var(--first-color-alt);
    color: aliceblue;

}
.devProfiles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* grid-template-columns: auto auto auto; */
    /* border: 1px solid #333; */
    gap: 2rem;
    
    /* background: red; */
}
.scroll{
    /* background-color: red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    
    margin-bottom: -1.3rem;
    
   
}
.about{
    /* background-color: #b9bdeb; */
    margin: 4rem 0;
    position: relative;
   
    /* height: 90vh; */
    
    /* background-position: bottom; */
}
.aboutHeader{
    text-align: center;
    padding: 1rem 0;
    color: var(--second-color);
    
    
}
.aboutBackground{
    position: absolute;
    right:10%;
    
    width: 70vw;
    height: auto;
    opacity: 0.04;
    z-index: 0;
}
.aboutInfo{
    padding: 0.5rem 2rem;
    text-align: justify;
    color: #333;
    margin-bottom: 3rem;
    font-weight: var(--font-medium);
}
.contributers{
    text-align: center;
    margin: 3rem 0;
    color: var(--second-color);

}
.typed{
    color: var(--second-color);
}

@media screen and (max-width: 768px) {
    .hero{
        flex-direction: column-reverse;
        justify-content: center;
        margin: 0;
    }
    .header{
        width: 100%;
        text-align: center;
        font-size: 2.5vw;
    }
    .heroGIF{
        width: 70%;
    }
}
    