.layout{
    width: 93.3vw;
    /* min-height: 80vh; */
    /* background-color: red; */
    /* margin: 1.5rem 5.8rem; */
    margin: -1px 3.3rem;
}
@media screen and (width < 768px){
    .layout{
        width: 100%;
        margin: 0;
    }
}