.userImage{
    width: 30em;
    /* height: auto; */
}
.message{
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 20em;
    height: 9em;
    padding: 1em;
    display: flex;
    gap: 1em;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.messageInfo{
    /* margin-top: 1em; */
    color: #fff;
}
.username{
    font-size: 0.8rem;
    margin: 0.3em;
}
.messageContent{
    /* display: inline-block; */
    height: 60px;
    /* white-space: nowrap; */
    overflow: hidden !important;
    text-overflow: ellipsis;
    font-size: 0.75rem;
   
}
.messageSubject{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.messageTime{
    font-size: 0.6em;
    position:absolute;
    top: 1%;
    right: 2%;
    padding-top: 1em;
}