{% extends 'main.html' %}

{% block content %}

<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="{% url 'user-account' %}"><i class="im im-angle-left"></i></a>
            <br>

            <form action="" class="form" method="POST">
                {% csrf_token %}
                <p>Are you sure you want to delete this skill?</p>
                <a class="btn btn--sub btn--lg my-md" href="{% url 'user-account' %}">Go Back</a>
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Confirm">
            </form>
        </div>
    </div>
</main>

{% endblock %}