{% extends 'main.html' %}

{% block content %}

<main class="profile my-md">
    <div class="container">
        <div class="layout">
            <div class="column column--1of3">
                <div class="card text-center">
                    <div class="card__body dev">
                        <img class="avatar avatar--xl" src="{{ profile.profileImage.url }}" />
                        <h2 class="dev__name">{{ profile.name }}</h2>
                        <p class="dev__title">{{ profile.shortIntro }}</p>
                        <p class="dev__location">Based in {{ profile.location }}</p>
                        <ul class="dev__social">
                            {% if profile.socialGithub %}
                            <li>
                                <a title="Github" href="{{ profile.socialGithub }}" target="_blank"><i class="fa-brands fa-github fa-2x"></i></a>
                            </li>
                            {% endif %}
                            {% if profile.socialLinkedIn %}
                            <li>
                                <a title="Github" href="{{ profile.socialLinkedIn }}" target="_blank"><i class="fa-brands fa-linkedin-in fa-2x"></i></a>
                            </li>
                            {% endif %}
                            {% if profile.socialTwitter %}
                            <li>
                                <a title="Github" href="{{ profile.socialTwitter }}" target="_blank"><i class="fa-brands fa-twitter fa-2x"></i></a>
                            </li>
                            {% endif %}
                            {% if profile.socialYoutube %}
                            <li>
                                <a title="Github" href="{{ profile.socialYoutube }}" target="_blank"><i class="fa-brands fa-youtube fa-2x"></i></a>
                            </li>
                            {% endif %}
                            {% if profile.socialWebsite %}
                            <li>
                                <a title="Github" href="{{ profile.socialWebsite }}" target="_blank"><i class="fa-solid fa-globe fa-2x"></i></a>
                            </li>
                            {% endif %}
                        </ul>
                        <a href="#" class="btn btn--sub btn--lg">Send Message </a>
                    </div>
                </div>
            </div>
            <div class="column column--2of3">
                <div class="devInfo">
                    <h3 class="devInfo__title">About Me</h3>
                    <p class="devInfo__about">{{ profile.bio }}</p>
                </div>
                <div class="devInfo">
                    <h3 class="devInfo__title">Skills</h3>
                    <div class="devInfo__skills">

                        {% for skill in topSkills %}
                        <div class="devSkill">
                            <h4 class="devSkill__title">{{ skill.name }}</h4>
                            <p class="devSkill__info">{{ skill.description }}</p>
                        </div>
                        {% endfor %}

                        <h3 class="devInfo__subtitle">Other Skills</h3>
                        <div class="devInfo__otherSkills">
                            {% for skill in otherSkills %}
                            <span class="tag tag--pill tag--sub tag--lg">
                                <small>{{ skill }}</small>
                            </span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="devInfo">
                    <h3 class="devInfo__title">Projects</h3>
                    <div class="grid grid--two">

                        {% for project in projects %}
                        <div class="column">
                            <div class="card project">
                                <a href="{% url 'project' project.id %}" class="project">
                                    <img class="project__thumbnail" src="{{project.featuredImage.url}}"
                                        alt="project thumbnail" />
                                    <div class="card__body">
                                        <h3 class="project__title">{{project.title}}</h3>
                                        <p><a class="project__author" href="{% url 'user-profile' project.owner.id %}">By {{project.owner.name}}</a></p>
                                        <p class="project--rating">
                                            <span style="font-weight: bold;">{{ project.voteRatio }}%</span> Postitive
                                            Feedback {% if project.voteTotal > 1 %}
                                                        ({{ project.voteTotal }} Votes)
                                                    {% else %}
                                                        ({{ project.voteTotal }} Vote)
                                                    {% endif %}
                                        </p>
                                        <div class="project__tags">
                                            {% for tag in project.tags.all %}
                                                <span class="tag tag--pill tag--main">
                                                    <small>{{ tag }}</small>
                                                </span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}