.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    transition: 0.5s all;
    z-index:100;
    
}
.modalBox{
    width: 25em;
    background-color: #fff;
    padding: 2em;
    position: relative;
    border-radius: 13px;
    z-index: 100000000000000000;
    
}
.modalTitle{
    font-size: 1.85em;
    font-weight: 900;
    color: #2367b9;
}
.modalFooter{
    display: flex;
    gap: 2em;
    justify-content: center;
    margin-top: 1.4em;
   
}
.modalButton{
    padding: 10px 24px;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}
#deleteButton{
    background-color: #2367b9;
    color: #fff;
    border: 1.5px solid #eee;
    
}
#cancelButton{
    background-color: #fff;
}
#deleteButton:hover{
    background-color: #1a4e8d;
}
#cancelButton:hover{
    background-color: #ddd;
}
.closeButton{
    display: flex;
    align-items: center;
    position: absolute;
    top: 5%;
    right: 3%;
    background: none;
    padding: 4px;
    border: none;
    cursor: pointer;

}
.closeButton:hover{
    font-weight: 900;
    color: #bbb;
}
.inputField{
    background-color: #eee;
 border: none;
 padding: 12px 15px;
 
 width: 100%;
 border-radius: 4px;
 margin-top: 2em;
}
.validation{
    margin: 0.5em 0 1em 0;
    font-size: 10px;
    text-align: left;
    color: red;
}