.card{
    z-index: 1;
    position: relative;
    /* min-width: 300px; */
    max-width: 450px;
    height:430px;
    border: 1.3px solid #65647C;
    border-radius: 8px;
    /* margin-bottom: 2rem; */
    margin: 0 auto;
    /* margin-top:2rem; */
    /* background-color: red; */
}
.card:hover{
    box-shadow: 0 0 10px 0 var(--first-color) inset, 0 0 10px 2px var(--first-color);
}
.banner{
    z-index: 1;
    position: relative;
    border-radius: 8px;
    
    width:100%;
    height:75px;
    background-image: url('../../assets/morgan-codes-wallpaper3.png');
    background-size: cover;
    opacity: 0.85;
    border-bottom: solid 1px lightgrey;
}
.defaultImage{
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 30px; */
    /* height: 7vh; */
    /* display: block; */
    /* border: 1px solid #fff; */
    height: 4.5em;
    width: 4.5em;
    
    border-radius: 50%;
    background: #333;
    margin-top: -2.5rem;
    z-index: 2;
    
    
}
.photo{
    display: flex;
    justify-content: center; 
    position: relative;
}
.profileInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.85rem 0 0.5rem 0;
    text-align: center;
    max-height: 11.5vh;
    margin: 0 auto;
    
}
.socialLinks{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: .65rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.contact{
    width: 100%;
    background: none;
    border: none;
    background-color: #D4F1F4;
    padding: 0.85em;
    font-weight: 700;
    cursor: pointer;
    transition: 0.13s;
}
.contact:hover{
    background-color: var(--first-color-light);
    color: #fff;
}
.profileBio{
    font-size: 1rem;
    padding: 0 0.65em 0 0.65em;
    text-align: center;
    font-weight: 500;
    /* max-width: 20em; */
    max-height: 6.21em;
    margin-bottom: 1.8em;
    height: 10rem;
    /* white-space:wrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ededed;
}
.profileName{
    font-size: 1.2rem;
    color: #fff;
    padding: 0 1rem;
    text-align: center;
    color: var(--first-color)
}
.profilePosition{
    font-size: 0.85rem;
    margin-top: 5px;
    font-weight: 600;
    padding: 0 1rem;
    text-align: center;
    color: var(--text-color);
}
.link{
    color: #ddd;
    
}
.link:hover{
    color: var(--first-color);
}
.profileImg{
    height: 4.0em;
    position: absolute;
    z-index: 3;
    /* border: 4px solid lightseagreen; */
    border-radius: 50%;
    top: 0;
    margin-top: -2.27rem;
}
.skillSection{
    /* width: 100%; */
    /* position: absolute;
    bottom: 0; */
    display: flex;
    gap: 0.813em;
    margin: 0 1vw;
    padding-bottom: clamp(1px, 4%, 4em);
    /* height: 0vh; */
    justify-content: center;
    align-items: left;
    flex-wrap: wrap;
}
.skillBtn{
    color: #fff;
    outline: none;
    border: 1px solid #333;
    padding: 8px 15px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}
.bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
}



@media screen and (max-width: 700px) {
    .card{
        max-width: 550px;
    }
    
}
@media screen and (max-width: 340px) {
    .skillBtn{
        padding: 6px 14px;
    }
    .skillSection{
        padding-bottom: clamp(1px, 2.5%, 4em);
    }
    
}

